@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f8f9fa;
  font-family: 'Outfit', sans-serif;
}

.canvas-container {
  position: fixed;
  inset: 0;
}